---
import "./TestimonialStyles.scss";
import neurosyncIcon from "../../../assets/icons/neurosync.svg?url";
import rockwellIcon from "../../../assets/icons/rockwell.svg?url";
import aAndHIcon from "../../../assets/icons/aAndH.svg?url";
import convergentIcon from "../../../assets/icons/convergent.svg?url";
import aperatureIcon from "../../../assets/icons/aperature.svg?url";
---

<div id="testimonial-backdrop">
  <div id="testimonial-section">
    <div id="testimonial-section-content">
      <div id="testimonial-section-header">
        <h2>Trusted by Innovators</h2>
      </div>
      <div id="testimonial">
        <img src={neurosyncIcon} alt="Neurosync Icon" />
        <div>
          <p>
            "Luthien Labs has fundamentally redefined our approach to systemic
            engagement. Their methodological frameworks are nothing short of
            revolutionary."
          </p>
          <span
            >— Dr. Elena Rodriguez, Chief Innovations Officer, NeuroSync
            Technologies</span
          >
        </div>
      </div>
      <div id="testimonial">
        <div>
          <p>
            "We've never encountered a more robust approach to probabilistic
            potential mapping. Their insights were crucial in the development of
            the Rockwell Retro Encabulator."
          </p>
          <span
            >— Marcus Chen, Director of Emerging Systems, Rockwell Automation</span
          >
        </div>
        <img src={rockwellIcon} alt="Rockwell Icon" />
      </div>

      <div id="testimonial">
        <img src={aAndHIcon} alt="Adaptive Horizons Icon" />
        <div>
          <p>
            "Luthien Labs doesn't just think outside the box. They've completely
            reimagined the architectural concepts of potential itself."
          </p>
          <span
            >— Dr. Jonathan Weiss, Founder, Adaptive Horizons Laboratory</span
          >
        </div>
      </div>

      <div id="testimonial">
        <div>
          <p>
            "Their proprietary methodologies have transformed our understanding
            of complex system dynamics. Truly unprecedented."
          </p>
          <span
            >— Sarah Goldman, Executive Strategic Advisor, Convergent
            Innovations Group
          </span>
        </div>
        <img src={convergentIcon} alt="Convergent Innovations Icon" />
      </div>

      <div id="testimonial">
        <img
          src={aperatureIcon}
          alt="Aperature Science Research Institute Icon"
        />
        <div>
          <p>
            "Working with Luthien Labs is like discovering an entirely new
            dimension of technological potential."
          </p>
          <span
            >— Dr. Hiroshi Nakamura, Chief Research Strategist, Aperature
            Science Research Institute</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
